<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.awdlcontrol.helper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AWDLHelper</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <!-- SMJobBless specific keys -->
    <key>SMAuthorizedClients</key>
    <array>
        <!-- This will be filled in with the app's code signature requirement -->
        <!-- Format: "identifier \"com.awdlcontrol.app\" and anchor apple generic and certificate leaf[subject.CN] = \"YOUR_DEVELOPER_ID\"" -->
        <string>identifier "com.awdlcontrol.app" and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = TEAMID</string>
    </array>

    <key>CFBundleExecutable</key>
    <string>AWDLHelper</string>
</dict>
</plist>
